<h1>My Recipe</h1>
<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>

<form action="/recipes/<%= @recipe.id%>" method="POST">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>